/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

/* GLOBAL VARIABLES */
:root {
  /* PRIMARY COLORS */
  --custom-blue: hsl(228, 45%, 44%);
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  /* NEUTRAL COLORS */
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  max-width: calc(1200rem / 16);
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  padding: 1em;
  margin: auto;
}

img,
picture {
  display: block;
  max-width: 100%;
}

p {
  font-size: calc(15rem / 16);
}

a,
a:visited,
a:active {
  text-decoration: none;
}

a {
  color: inherit;
}

ul {
  list-style-type: none;
}

/* COMPONENT */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hover-red:hover {
  color: var(--soft-red);
  cursor: pointer;
}

.hover-orange:hover {
  color: var(--soft-orange);
  cursor: pointer;
}

/* HEADER */
.header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.backdrop {
  position: fixed;
  background: black;
  height: 100vh;
  width: 100vh;
  top: 0;
  left: 0;
  opacity: 0.4;
  visibility: hidden;
}

.backdrop[data-visible="true"] {
  visibility: visible;
}

/* MAIN */
.card {
  gap: 3em;
}

.top-text-con {
  flex-direction: column;
  gap: 0.75em;
}

.top-title {
  font-size: 2.5rem;
  font-weight: 800;
}

.top-text {
  color: var(--dark-grayish-blue);
}

.top-link {
  color: var(--off-white);
  background-color: var(--soft-red);
  display: block;
  width: fit-content;
  padding: 0.75rem 2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 1.25em;
}

.top-link:hover {
  background-color: var(--very-dark-blue);
}

.right {
  background-color: var(--very-dark-blue);
  color: var(--off-white);
  padding: 1em;
}

.right-title {
  color: var(--soft-orange);
}

.right-articles {
  padding: 2em 0;
  border-bottom: 1px solid var(--dark-grayish-blue);
}

.right-articles:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.bottom {
  gap: 2em;
}

.bottom-img-con {
  flex: 31%;
}

.bottom-articles {
  gap: 1.5em;
  max-width: calc(343rem / 16);
}

.bottom-text-con {
  flex-direction: column;
  flex: 69%;
  justify-content: space-between;
}

.bottom-text-num {
  font-size: 2rem;
  color: var(--grayish-blue);
  font-weight: 700;
}

.bottom-title {
  color: var(--very-dark-blue);
  font-weight: 800;
  font-size: 1.1rem;
}

.bottom-text {
  color: var(--dark-grayish-blue);
}

/* FOOTER */
.attribution {
  font-size: calc(11rem / 16);
  text-align: center;
  margin-top: 3em;
}

.attribution-links {
  color: var(--custom-blue);
}

@media screen and (max-width: 350px) {
  .bottom-articles {
    flex-direction: column;
    gap: 0;
  }

  .bottom-img-con {
    width: 100%;
  }
}

@media screen and (min-width: 717px) {
  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1054px) {
  .nav-list {
    position: fixed;
    inset: 0 0 0 30%;
    background-color: var(--off-white);
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    transform: translateX(100%);
    gap: 1em;
    transition: transform 350ms ease-out;
    z-index: 100;
  }

  .nav-list[data-visible="true"] {
    transform: translateX(0);
  }

  .nav-menu {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 9999;
    border: none;
  }
}

@media screen and (min-width: 1055px) {
  .nav-list {
    display: flex;
    gap: 3em;
  }

  .nav-menu {
    visibility: hidden;
  }

  .card {
    grid-template-columns: 2fr 1fr;
    gap: 2em;
  }

  .top-text-con {
    flex-direction: row;
    margin-top: 2em;
  }

  .top-text-con > * {
    flex: 50%;
  }

  .right-title {
    font-size: 2rem;
  }

  .bottom {
    grid-column: 1 / 3;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2em;
  }
}
